:root{
    --background-color-1 : #4c89e3;
    --text-color-1: #ffffff;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    width: 100%;
    background-color: var(--background-color-1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color-1);
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    background-color: var(--text-color-1);
    border-radius: 10px;
    border-width: 1px;
    margin: 8px;
    padding: 10px;
}

.categoria{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-color: aqua;
}

.titulo{
    text-align: justify;
    margin: 3vh 0vh;
    font-size: 25px;
}

.subtitulo{
    margin: 5px;
}

.capa{
    width: 100%;
    border-radius: 10px;
}

.botao{
    height: 40px;
    background: none;
    color: var(--background-color-1);
    border: 2px solid var(--background-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    margin-top: 5vh;
    transition: all 1s;
    border-radius: 5px;
    text-decoration: none;
}

.botao:hover{
    background-color: var(--background-color-1);
    color: var(--text-color-1);
    
}